<h1>投稿一覧</h1>
<% @lists.each do |list| %>
  <h3>タイトル</h3>
  <%= link_to list.title, list_path(list.id) %>
  <h3>画像</h3>
  <% if list.image.attached? %>
    <%= image_tag list.image, size: "100x100" %>
  <%else%>
    <%= image_tag "no_image", size: "100x100" %>
  <%end%>

<%end%>